body
{
	font-family: "microsoft YaHei";
	background-color: rgb(247,238,214);
	margin: 10px;
	padding: 5px;
	height: 1100px;
	width: 2500px;
} 
button
{
	width: 120px;
	line-height: 28px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	margin:0 20px 20px 0;
	position: relative;
	overflow: hidden;
	padding: 2px;
}
h1
{
	margin-left: 100px;
}
h2
{
	margin-left: 60px;
}
#title{
	position: absolute;
	left: 20px;
	top: 10px;
}
#controller{
	position: absolute;
	left: 20px;
	top: 200px;
	width: 450px;
}
#maintable
{
	position: absolute;
	top: 50px;
	left: 500px;
}